extends layout

block title
    | About | David Román

block head
    link(rel='stylesheet', type='text/css', href='stylesheets/about.css')
    
block content
    section
        h2 iOS development
        p My main skill is iOS development, to which I've been dedicated for almost 3 years now. I'm really enthusiastic about FRP paradigms, so I'm really comfortable writing ReactiveCocoa code.
        p I love hackathons and open source projects, and enjoy working on codebases that other people can provide feedback and make improvements on.
        p I was awarded by Apple with a scholarship to attend WWDC 2013 and again in 2014.
        img(src='/images/wwdc.jpg')
    
    section
        h2 Web development
        p In addition to iOS development, I'm comfortable working on both web frontend and backend code.
        p In fact, this web is running on a Node.js server I built from scratch. It uses Express, Jade, Stylus, and some jQuery code for serving, templating, styling and manipulating the DOM, respectively.
        p Oh, and it's <a href='https://github.com/DavdRoman/davidroman.me'><strong>open sourced</strong></a> :)
    
    section
        h2 Speedcubing
        p Oddly enough, one of my main hobbies is <a href='https://wikipedia.org/wiki/Speedcubing'><strong>speedcubing</strong></a>. I've been into it for almost 1 year now. It's a really addictive and interesting exercise and competitions are so much fun to attend.
        p Here's some footage of me averaging 14.83 seconds with a 3x3 cube.
        iframe(src="https://www.youtube.com/embed/IhvqoAHO4dE", allowfullscreen)
