extends layout

block title
    | Hire | David Román

block head
    link(rel='stylesheet', type='text/css', href='stylesheets/hire.css')
    
block content
    section
        h2 Hire me
        p I'm up for a full-time, presential job anywhere around the world.
        div
            a(href='/files/resume.pdf') RESUME
            a(href='mailto:d@vidroman.me') CONTACT ME
            
