@import 'global'

footer
	background-color rgba(108,119,142,0.03)
	padding 28px 0 28px 0

	div
		margin auto
		width 85%
		max-width 350px
		display flex
		flex-flow row wrap
		justify-content space-between

		a
			width 54px
			height 54px
			background-repeat no-repeat
			border-radius 50%
			transition()

		#twitter
			background-image url('/images/tw.svg')
			background-color twitter-color
			background-size 57%
			background-position 54% 52%

		#twitter:hover
			background-color darken(twitter-color, 25%)

		#github
			background-image url('/images/gh.svg')
			background-color github-color
			background-size 46%
			background-position 50% 55%

		#github:hover
			background-color darken(github-color, 25%)

		#linkedin
			background-image url('/images/in.svg')
			background-color linkedin-color
			background-size 50%
			background-position 52% 47%

		#linkedin:hover
			background-color darken(linkedin-color, 25%)
