@import 'global'

header
	a:not([href~='/projects'])
		color white

	a[href~='/projects']
		color blue-color
		background-color white

#content
	section:not(:first-of-type)
		margin-top normal-margin

		.project
			margin-top small-margin

		.project:not(:last-of-type)
			margin-bottom small-margin

	section
		.project
			transition(0.4s)

			.header
				display flex
				flex-flow row wrap
				justify-content space-between

				#indicators
					display flex
					flex-flow row
					justify-content space-between
					font-weight 300

					.indicator:not(:last-of-type)
						margin-right 20px

					.indicator
						color gray-color

						span
							font-size normal-size
							margin-right 3px

						img
							opacity 0.75
							vertical-align -2px
							width 17px
							height 17px

			.description
				margin auto
				display flex
				margin-top 25px
				flex-flow row
				justify-content space-between
				font-weight 200

				.imglink, img
					width 150px
					height 150px
					border-radius 34px
					margin-right 15px
					min-width 150px
					min-height 150px

		hr
			border 0
			height 1px
			background-image linear-gradient(to right, rgba(0, 0, 0, 0), alpha(github-color,0.075), rgba(0, 0, 0, 0))

		hr:last-of-type
			display none

@media (max-width: 450px)
	#content
		section
			.project
				.header
					flex-flow column wrap

					#indicators
						margin 14px auto 0 auto

				.description
					flex-flow row wrap

					.imglink, img
						margin auto

					p
						margin-top 14px
